# Name of the instance
variable "instance_name" {
    default = "daniel-rancher"
}

# Type of VM
variable "instance_type" {
    default = "s-2vcpu-4gb"
}

# Image to use
variable "instance_image" {
    default = "ubuntu-18-04-x64"
}

# Instance Region
variable "instance_region" {
    default = "sfo3"
}

# Users
variable "ssh_users" {
    default = [
        {
            username = "daniel"
            shell = "/bin/bash" 
            sudo = true
            github_username = "dhawton"
        }
    ]
}