# Name of the instance
variable "instance_name" {
    default = "rancher"
}

# Type of VM
# https://api.linode.com/v4/linode/types
variable "instance_type" {
    default = "g6-standard-2"
}

# Image to use
# https://api.linode.com/v4/images
variable "instance_image" {
    default = "linode/debian10"
}

# Instance Region
# https://api.linode.com/v4/regions
variable "instance_region" {
    default = "us-west"
}

# Users
variable "ssh_users" {
    default = [
        {
            username = "daniel"
            shell = "/bin/bash" 
            sudo = true
            github_username = "dhawton"
        }
    ]
}