resource "digitalocean_loadbalancer" "rke2" {
    name = "${var.node_prefix}-lb"
    region = var.instance_region

    forwarding_rule {
        entry_protocol = "tcp"
        entry_port = "9345"
        target_protocol = "tcp"
        target_port = "9345"
    }

    healthcheck {
        port = 22
        protocol = "tcp"
    }

    droplet_ids = [
        digitalocean_droplet.node01.id,
        digitalocean_droplet.node02.id,
        digitalocean_droplet.node03.id
    ]
}

resource "cloudflare_record" "rancherrecord" {
    zone_id = var.zone_id
    name = "${var.node_prefix}-lb.${var.rootdomain}"
    type = "A"
    value = digitalocean_loadbalancer.rke2.ip
    ttl = 60
}

output "lb_name" {
    value = cloudflare_record.rancherrecord.hostname
}